<!DOCTYPE html>
<html>
  <head>
    <title>Hobbycart -このWebシステムはポートフォリオです- </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= render 'shared/dummy_notification' %>
    </div>
    <div class="container">
      <%= render 'shared/flashes' %>
    </div>
    <%= yield %>
  </body>
</html>
